{% from "bootstrap5/form.html" import render_form %} {% extends "base.html" %}

{% block content %}
<!-- Page Header -->
<header class="hero-login" style="background-image: url('https://www.ville.mont-royal.qc.ca/storage/app/resources/resize/940_610_0_0_crop/img_fefc70fdb8e33c4bb8965d093b3078b9.jpg')">
  <div class="hero-overlay">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center text-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="hero-text">
            <h1 class="display-4">Register</h1>
            <p class="lead">Let the Memory lane flourish !!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4" style="padding: 25px 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--TODO: render your registration form here-->
        {{ render_form(form) }}
      </div>
    </div>
  </div>
</main>
{% endblock %}
