{% extends 'base.html' %}
{% block title %}Library{% endblock %}

  {% block content %}
    <h1>My Library</h1>
    {% if books %}
      <ul>
        {% for book in books %}
            <li> {{ book.bookTitle }} - {{ book.bookAuthor }} - {{ book.bookRating }}/10 <a href="{{ url_for('rating', book_id=book.id) }}"> Re-rate</a> <a href="{{ url_for('deleting', book_id=book.id) }}"> Remove </a> </li>
        {% endfor %}
      </ul>
    {% else %}
        <p> Library is Empty </p>
    {% endif %}

    <a href="{{ url_for('add') }}">Add New Book</a>

  {% endblock %}